<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Funcionários</title>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<div class="anterior">
    <div class="principal">
        <div class="interna">
            <a th:href="@{/}"><button type="button"><div class="icon"><i class="material-icons">first_page_outlined</i></div>Menu Principal</button></a>
            <h1>Lista de Funcionários</h1>
            <form th:action="@{/funcionario/search}" method="get">
                <label>Pesquise por Funcionários:</label>
                <input type="text" name="keyword">
                <button type="submit"><div class="icon"><i class="material-icons">search_outlined</i></div>Pesquisar</button>
                <br>
                <br>
                <div class="linha"></div>
                <br>
            </form>
            <div th:if="${!funcionario.isEmpty()}">
                <table>
                    <thead>
                    <tr>
                        <th class="op">ID</th>
                        <th class="op">Nome</th>
                        <th class="op">Apelido</th>
                        <th class="op">Data de Nascimento</th>
                        <th class="op">Gênero</th>
                        <th class="op">Email</th>
                        <th class="op">NIF</th>
                        <th class="op">Telefone</th>
                        <th class="op">Morada</th>
                        <th class="op">Salário</th>
                        <th class="op">Função</th>
                        <th class="op">Operações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="func: ${funcionario}" >
                        <td class="center" th:text="${func.id}"></td>
                        <td class="center" th:text="${func.nome}"></td>
                        <td class="center" th:text="${func.apelido}"></td>
                        <td class="center" th:text="${#dates.format(func.datanas, 'dd-MM-yyyy')}"></td>
                        <td class="center" th:text="${func.genero}"></td>
                        <td class="center" th:text="${func.email}">
                        <td class="center" th:text="${func.nif}"></td>
                        <td class="center" th:text="${func.telefone}"></td>
                        <td class="center" th:text="${func.morada}"></td>
                        <td class="center" th:text="${func.salario}"></td>
                        <td class="center">
                            <span th:each="funcao : ${func.funcao}" th:text="${func.funcao.funcaonome}"></span>
                        </td>
                        <td>
<!--                            <a th:href="@{/funcionario/view/{id}(id=${func.id})}"><button type="button">Ver</button></a>-->
                            <a th:href="@{/funcionario/edit/{id}(id=${func.id})}"><button type="button"><div class="icon"><i class="material-icons">edit_outlined</i></div>Editar</button></a>
                            <a th:href="@{/funcionario/delete/{id}(id=${func.id})}"><button type="button"><div class="icon"><i class="material-icons">delete_outlined</i></div>Apagar</button></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <br>
            <div class="linha"></div>
            <br>
            <div th:unless="${!funcionario.isEmpty()}">
                <strong>Não existem registros a apresentar</strong>
            </div>
            <div>
                <button type="button" onclick="window.location.href='/funcionario/new'"><div class="icon"><i class="material-icons">add_circle_outlined</i></div>Inserir</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>