<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inserir Turmas</title>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<div class="anterior">
    <div class="principal">
        <div class="interna">
            <a th:href="@{/}"><button type="button"><div class="icon"><i class="material-icons">first_page_outlined</i></div>Menu Principal</button></a>

            <h1>Inserir Turmas</h1>
            <div class="linha"></div>
            <br>
            <table>
                <form th:action="@{/turma/save}" th:object="${turma}" method="post">
                    <!-- nome -->
                    <tr>
                        <div>
                            <td><label for="turmanome">Turma</label></td>
                            <td><input type="text" id="turmanome" th:field="*{turmanome}">
                                <span th:if="${#fields.hasErrors('turmanome')}" th:errors="*{turmanome}"></span></td>
                        </div>
                    </tr>


                    <!-- botao -->
                    <tr>
                        <div>
                            <td>
                                <button type="submit"><div class="icon"><i class="material-icons">send_outlined_outlined</i></div>Submeter</button>
                            </td>
<!--                            <td>-->
<!--                                <button type="button" onclick="window.location.href='/turma/list'">Listar</button>-->
<!--                            </td>-->
                        </div>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer.html"> </div>

</body>
</html>