<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Funções</title>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<div class="anterior">
    <div class="principal">
        <div class="interna">
            <a th:href="@{/}"><button type="button"><div class="icon"><i class="material-icons">first_page_outlined</i></div>Menu Principal</button></a>
<h1>Lista de Funções</h1>
<br>
<div class="linha"></div>
<br>
<div th:if="${!funcao.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th class="op">ID</th>
            <th class="op">Função</th>
            <th class="op">Funcionários</th>
            <th class="op">Operações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="funcao: ${funcao}" >
            <td class="center" th:text="${funcao.id}"></td>
            <td class="center" th:text="${funcao.funcaonome}"></td>
<!--            <td>-->
<!--                <div th:each="funcionario:${funcionario.funcao}">-->
<!--                    <input type="checkbox" th:value="${funcionario.id}" checked disabled>-->
<!--                    <label th:text="${funcionario.nomeFuncionario}"></label>-->
<!--                </div>-->
<!--            </td>-->
            <td>
                <div th:each="funcionario:${funcao.funcionarios}">
                    <div>
                        <input type="checkbox" th:value="${funcionario.id}" checked disabled>
                        <lable th:text="${funcionario.nome}"></lable>
                    </div>
                </div>
            </td>
            <td>
                <!--<a th:href="@{/funcao/view/{id}(id=${funcao.id})}"><button type="button">Ver</button></a>-->
                <a th:href="@{/funcao/edit/{id}(id=${funcao.id})}"><button type="button"><div class="icon"><i class="material-icons">edit_outlined</i></div>Editar</button></a>
                <a th:href="@{/funcao/delete/{id}(id=${funcao.id})}"><button type="button"><div class="icon"><i class="material-icons">delete_outlined</i></div>Apagar</button></a>

            </td>
        </tr>

        </tbody>
    </table>
</div>
<br>
<div class="linha"></div>
<br>
<div th:unless="${!funcao.isEmpty()}">
    <strong>Não existem registros a apresentar</strong>
</div>
<div>
    <button type="button" onclick="window.location.href='/funcao/new'"><div class="icon"><i class="material-icons">add_circle_outlined</i></div>Inserir</button>
</div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer.html"> </div>

</body>
</html>