<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Funções</title>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<div class="anterior">
    <div class="principal">
        <div class="interna">
            <a th:href="@{/}"><button type="button"><div class="icon"><i class="material-icons">first_page_outlined</i></div>Menu Principal</button></a>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Função</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="center" th:text="${funcao.id}"></td>
                    <td class="center" th:text="${funcao.funcaonome}"></td>
                </tr>

                </tbody>
            </table>
            <div>
                <button type="button" onclick="window.location.href='/funcao/list'">Voltar</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer.html"> </div>

</body>
</html>